body {
    background-color: #ecf0f1;
  }
  
  .btn {
    cursor: pointer;
  }
  
  h2 {
    color: #a29bfe;
    transition: color .5s ease-in-out;
  }
  
  .clicked {
    color: #ff7675;
  }

  .form,
  .greetings {
      display: none;
  }

  .showing {
      display: block;
  }